html{
    overflow-x: hidden;
}

#login_pass{
    background-color: mediumaquamarine;
    width: 20%;
    height: 20%;
    right: 10px;
    position: absolute;
}

#login{
    top: 15%;
    left: 49px;
    position: relative;
}

#pass{
    top: 35%;
    left: 26px;
    position: relative;
}

#inp_login{
    border-radius: 5px;
    width: 90px;
}

#inp_pass{
    border-radius: 5px;
    width: 90px;
}

#carpet{
    top: 0px;
    width: 250px;
    height: 100px;
    background-color: aqua;
}

#img_carpet{
    width: 250px;
    height: 150px;
    position: absolute;
    top: 16px;
    z-index: 1;
}

#enter{
    top: 70px;
    left: 110px;
    width: 70px;
    height: 25px;
    background-color: aquamarine;
    text-align: center;
    position: relative;
    cursor: default;
}

#enter:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
