#login_pass{
    background-color: beige;
    width: 250px;
    height: 150px;
    top: 40%;
    left: 40%;
    position: absolute;
}

#login{
    top: 15%;
    left: 14%;
    position: relative;
}

#pass{
    top: 35%;
    left: 5%;
    position: relative;
}

#inp_login{
    border-radius: 5px;
}

#inp_pass{
    border-radius: 5px;
}

#carpet{
    top: 0px;
    width: 250px;
    height: 100px;
    background-color: aqua;
}

#img_carpet{
    width: 250px;
    height: 150px;
    position: absolute;
    top: 16px;
    z-index: 1;
}

#enter{
    top: 87px;
    left: 100px;
    width: 50px;
    background-color: aquamarine;
    text-align: center;
    position: relative;
    cursor: default;
}

#enter:hover{
    background-color: rgba(255, 255, 255, 1);
}
